/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

#result {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
